<web-app  
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"  
    version="2.5">  
    <servlet>  
        <servlet-name>login</servlet-name>  
        <servlet-class>servlets.LoginServlet</servlet-class>  
    </servlet>  
  	
  	<servlet-mapping>  
        <servlet-name>login</servlet-name>  
        <url-pattern>/login</url-pattern>  
    </servlet-mapping> 
    
    <servlet>  
        <servlet-name>logout</servlet-name>  
        <servlet-class>servlets.LogoutServlet</servlet-class>  
    </servlet>  
  	
  	<servlet-mapping>  
        <servlet-name>logout</servlet-name>  
        <url-pattern>/logout</url-pattern>  
    </servlet-mapping> 
    
    <servlet>  
        <servlet-name>register</servlet-name>  
        <servlet-class>servlets.RegisterServlet</servlet-class>  
    </servlet>  
  	
  	<servlet-mapping>  
        <servlet-name>register</servlet-name>  
        <url-pattern>/register</url-pattern>  
    </servlet-mapping> 
  	
  	<servlet-mapping>  
        <servlet-name>checkout</servlet-name>  
        <url-pattern>/checkout</url-pattern>  
    </servlet-mapping> 
    
    <servlet>  
        <servlet-name>checkout</servlet-name>  
        <servlet-class>servlets.CheckoutServlet</servlet-class>  
    </servlet>  

    <servlet-mapping>  
        <servlet-name>profileChange</servlet-name>  
        <url-pattern>/profileChange</url-pattern>  
    </servlet-mapping> 
    
    <servlet>  
        <servlet-name>profileChange</servlet-name>  
        <servlet-class>servlets.ProfileServlet</servlet-class>  
    </servlet>  
    
    <servlet-mapping>  
        <servlet-name>pwdChange</servlet-name>  
        <url-pattern>/pwdChange</url-pattern>  
    </servlet-mapping> 
    
    <servlet>  
        <servlet-name>pwdChange</servlet-name>  
        <servlet-class>servlets.ProfileServlet</servlet-class>  
    </servlet>  
    
    <servlet-mapping>  
        <servlet-name>changeAddress</servlet-name>  
        <url-pattern>/changeAddress</url-pattern>  
    </servlet-mapping> 
    
    <servlet>  
        <servlet-name>changeAddress</servlet-name>  
        <servlet-class>servlets.ProfileServlet</servlet-class>  
    </servlet>  
    
    
    <welcome-file-list>  
        <welcome-file>index.jsp</welcome-file>  
    </welcome-file-list>  
    
</web-app>  