html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
	z-index: 1;
	padding-top: 20px;
	margin-top: 20px;
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
}

.menu {}
.menu .row {}
.menu .row .thumbnail {}
.menu .row .thumbnail .productname {font-weight: bold; font-size: 20px;}
.menu .row .thumbnail .price { font-size: 20px; }
.menu .row .thumbnail .price-add {padding-top: 10px;}
.menu .row .thumbnail .price-add .price { float: right; padding: 3px 6px; }
.menu .row .thumbnail .price-add .add { float: right;}

.cart{
	border-radius: 5px;
	border-color: #DDD;
	background-color: #EEE;
	padding: 10px;
}

.myitems {

}


.myitems .items { padding: 10px 10px; }
.myitems .items .price {text-align: right;}
.myitems .totalprice {padding: 10px 10px;}
.myitems .items ul { list-style: none; margin: 0; padding: 0;}
.myitems .items ul li { padding: 3px 0; }
.myitems .items ul li:hover { background-color: #FFF; }


/* CHECKOUT.JSP */

.checkout { padding-bottom: 20px; }
.checkout .address { background-color: #EEE; border-radius: 5px; padding: 10px; }

/* PROFILE MENU */

/* KITCHEN.JSP */
.singleorder { border-radius: 5px; background-color: #EEE; padding: 20px; margin: 10px 0 10px 0;}
.singleorder .number { height: 50px;  float: left; font-size: 20px; padding: 10px; }
.singleorder .item_name .quantity {color: Blue;}
.singleorder .items { padding-left: 10px; border-left: 1px solid #DDD; float: left; font-size: 30px;}























