html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  padding-top: 20px;
  margin-top: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.cart {
	background-color: white;
	border: 1px solid #AAA;
	padding: 10px;
	position: fixed;
	top:10%;
	left: 0;
}

.cart ul li { list-style: none; }

/* CHECKOUT */

.checkout { padding-bottom: 20px; }
.checkout .address { background-color: #EEE; border-radius: 5px; padding: 10px; }

/* PROFILE MENU */
